.center_div {
    position: fixed;
    left: 60%;
    top: 45%;
    transform: translate(-50%, -50%);
    margin-top:5%;
}

.form-group {
    width: 500px;
}

#notificationMessageDiv{
    padding: 7px;
    margin-top:6px;
    margin-left: 5px;
    width: 490px;
    margin-bottom: 5px;
}

